FOTA/Node_Red/flows.json
[
    {
        "id": "129631ee6eaf3f4b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d071593d2c6e975",
        "type": "mqtt in",
        "z": "129631ee6eaf3f4b",
        "name": "",
        "topic": "/FOTA/BootReply",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c30ef86b8396e517",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "3a31e44f048560d6",
                "af386e47808e9867"
            ]
        ]
    },
    {
        "id": "f1b4157aa7370799",
        "type": "mqtt out",
        "z": "129631ee6eaf3f4b",
        "name": "",
        "topic": "/FOTA/Boot",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c30ef86b8396e517",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "f6bbf9a1b27ac8f2",
        "type": "ui_button",
        "z": "129631ee6eaf3f4b",
        "name": "",
        "group": "138762d385a66b43",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jump to Application",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "J",
        "payloadType": "str",
        "topic": "/FOTA/Boot",
        "topicType": "msg",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "f1b4157aa7370799"
            ]
        ]
    },
    {
        "id": "f78b6047c41e58d9",
        "type": "ui_button",
        "z": "129631ee6eaf3f4b",
        "name": "",
        "group": "138762d385a66b43",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Erase Flash",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "E",
        "payloadType": "str",
        "topic": "/FOTA/Boot",
        "topicType": "msg",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "f1b4157aa7370799"
            ]
        ]
    },
    {
        "id": "c47d125c49f63ed3",
        "type": "ui_button",
        "z": "129631ee6eaf3f4b",
        "name": "",
        "group": "138762d385a66b43",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Upload Apllication",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "U",
        "payloadType": "str",
        "topic": "/FOTA/Boot",
        "topicType": "msg",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "f1b4157aa7370799"
            ]
        ]
    },
    {
        "id": "6259944912f50597",
        "type": "ui_button",
        "z": "129631ee6eaf3f4b",
        "name": "",
        "group": "138762d385a66b43",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Read Protection Level",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "R",
        "payloadType": "str",
        "topic": "/FOTA/Boot",
        "topicType": "msg",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "f1b4157aa7370799"
            ]
        ]
    },
    {
        "id": "3a31e44f048560d6",
        "type": "ui_text",
        "z": "129631ee6eaf3f4b",
        "group": "bd822c4729b6a128",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reply",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "89cae051e1b21dd1",
        "type": "ui_button",
        "z": "129631ee6eaf3f4b",
        "name": "",
        "group": "138762d385a66b43",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get Chip ID",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "G",
        "payloadType": "str",
        "topic": "/FOTA/Boot",
        "topicType": "msg",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "f1b4157aa7370799"
            ]
        ]
    },
    {
        "id": "af386e47808e9867",
        "type": "debug",
        "z": "129631ee6eaf3f4b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e529c5e9029cf81",
        "type": "ui_text",
        "z": "129631ee6eaf3f4b",
        "group": "4ced1ed2c496b44b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 720,
        "wires": []
    },
    {
        "id": "8c0c91935b2c720c",
        "type": "mqtt in",
        "z": "129631ee6eaf3f4b",
        "name": "",
        "topic": "/Check/Connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c30ef86b8396e517",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 720,
        "wires": [
            [
                "8e529c5e9029cf81"
            ]
        ]
    },
    {
        "id": "c30ef86b8396e517",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "138762d385a66b43",
        "type": "ui_group",
        "name": "Bootloodear Options",
        "tab": "c98d6173d8831d0c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd822c4729b6a128",
        "type": "ui_group",
        "name": "Bootloodear Reply",
        "tab": "c98d6173d8831d0c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ced1ed2c496b44b",
        "type": "ui_group",
        "name": "/Check/Connection",
        "tab": "c98d6173d8831d0c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c98d6173d8831d0c",
        "type": "ui_tab",
        "name": "FOTA",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]